[submodule "go"]
	path = go
	url = https://github.com/trinsic-id/sdk-go-api.git
[submodule "php"]
	path = php
	url = https://github.com/trinsic-id/sdk-php-api.git
[submodule "client/sdk-android-ui"]
	path = client/sdk-android-ui
	url = https://github.com/trinsic-id/sdk-android-ui
[submodule "java"]
	path = java
	url = https://github.com/trinsic-id/sdk-java-api
