:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  all: unset;
  display: inline-block;
  cursor: pointer;
}

ul.listOptions {
  width: 100%;
  column-width: 250px; /* Adjust this number to set the width of each column */
  column-gap: 5px; /* Adjust the gap between columns */
  padding: 5px;
  list-style: none;
  min-height: 50px;
  display: flex; /* Or use grid instead */
  flex-wrap: wrap; /* Ensures proper wrapping */
  align-items: center; /* Aligns elements properly */
  justify-content: flex-start; /* Keeps items aligned */
}

ul li {
  border-bottom: 1px solid #f3f4f6; /* Adds a bottom border to each li item */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 300px;
}

ul li:last-child {
  border-bottom: none; /* Removes the border from the last li item */
}

ul li button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}
ul li button img {
  padding: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  display: inline;
}

ul li button .launch-name {
  color: #262d35;
  vertical-align: middle;
  flex-grow: 1;
}

.chevron {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-right: 2px solid #262d35;
  border-bottom: 2px solid #262d35;
  transform: rotate(315deg);
  margin: 10px; /* Optional: Adjust margin as needed */
}

.friendly-text {
  color: #262d35;
}
