name: Build and Publish API Ruby SDK

on:
  workflow_call:
    inputs:
      publish:
        type: boolean
        required: false
        default: false
        description: "Publish the package, default is false"

jobs:
  build_and_publish:
    name: Build and Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install NPM dependencies
        run: npm ci
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.3"
          bundler-cache: true
      - name: Generate SDK
        run: ./api-ruby/build-sdk.ps1
        shell: pwsh
      - name: Build sample
        run: ./api-ruby/build-sample.ps1
        shell: pwsh
      - name: Publish SDK
        if: inputs.publish == true
        run: ./api-ruby/publish-sdk.ps1
        shell: pwsh
        env:
          RUBYGEMS_API_TOKEN: ${{ secrets.RUBYGEMS_API_TOKEN }}
