name: Build UI Swift SDK samples

on:
  workflow_dispatch:

jobs:
  ios:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Ensure all history and tags are fetched
      - name: Set up Xcode
        run: sudo xcode-select -s /Applications/Xcode.app/Contents/Developer
      - name: Install Dependencies
        run: xcodebuild -resolvePackageDependencies -project iOS.xcodeproj
        working-directory: ui-swift/samples/iOS
      - name: Build the project
        run: xcodebuild -project iOS.xcodeproj -scheme iOS -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 12,OS=latest' build
        working-directory: ui-swift/samples/iOS
  macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Ensure all history and tags are fetched
      - name: Set up Xcode
        run: sudo xcode-select -s /Applications/Xcode.app/Contents/Developer
      - name: Install Dependencies
        run: xcodebuild -resolvePackageDependencies -project macOS.xcodeproj
        working-directory: ui-swift/samples/macOS
      - name: Build the project
        run: xcodebuild -project macOS.xcodeproj -scheme macOS -sdk macosx -destination 'platform=macOS' build
        working-directory: ui-swift/samples/macOS
